In [12]:
import pandas as pd
import glob
import os

In [13]:
csv_file = '../Resources/CanadaSportsCities.csv'
census_df = pd.read_csv(csv_file)
census_df.head()

,GEO,index,Census Year,2021 Population,2016 Population,% change from 2016 to 2021,Population Density per sq km,Population Density per sq mi
0,Calgary,0,2021,1481806.0,1392609.0,6.4,1592.4,614.8
1,Edmonton,1,2021,1418118.0,1321441.0,8.3,1320.4,509.8
2,Montreal,2,2021,4291732.0,4104074.0,4.6,4833.5,1866.2
3,Ottawa,3,2021,1017449.0,934243.0,8.9,364.9,140.9
4,Toronto,4,2021,6202225.0,5928040.0,4.6,4427.8,1709.6

In [14]:
# rename columns
census_df=census_df.rename(columns = {
    'GEO':'City'
})
census_df

,City,index,Census Year,2021 Population,2016 Population,% change from 2016 to 2021,Population Density per sq km,Population Density per sq mi
0,Calgary,0,2021,1481806.0,1392609.0,6.4,1592.4,614.8
1,Edmonton,1,2021,1418118.0,1321441.0,8.3,1320.4,509.8
2,Montreal,2,2021,4291732.0,4104074.0,4.6,4833.5,1866.2
3,Ottawa,3,2021,1017449.0,934243.0,8.9,364.9,140.9
4,Toronto,4,2021,6202225.0,5928040.0,4.6,4427.8,1709.6
5,Vancouver,5,2021,2642825.0,2463431.0,7.3,5749.9,2220.0
6,Winnipeg,6,2021,834678.0,783099.0,6.6,1623.3,626.8

In [15]:
clean_canada=census_df[['City','2016 Population', '2021 Population']]
clean_canada['Country Code']='CAN'
clean_canada.head()

/var/folders/nk/670c2l4j02j1x3bk4kcm7qh80000gn/T/ipykernel_62394/2764969547.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_canada['Country Code']='CAN'

       City  2016 Population  2021 Population Country Code
0   Calgary        1392609.0        1481806.0          CAN
1  Edmonton        1321441.0        1418118.0          CAN
2  Montreal        4104074.0        4291732.0          CAN
3    Ottawa         934243.0        1017449.0          CAN
4   Toronto        5928040.0        6202225.0          CAN

In [16]:
usa_csv_file = '../Resources/us_census_data_merged.csv'
usa_census_df = pd.read_csv(usa_csv_file)
usa_census_df.head()

,City,Geographic Area,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,April 2020,2020,2021
0,Atlanta,".Atlanta-Sandy Springs-Alpharetta, GA Metro Area",5302598.0,5366462.0,5444473.0,5510530.0,5593204.0,5686048.0,5787965.0,5872432.0,5945303.0,6020364.0,6089815.0,6101146.0,6144050.0
1,Austin,".Austin-Round Rock-Georgetown, TX Metro Area",1727502.0,1780535.0,1834586.0,1883315.0,1942467.0,2002134.0,2062016.0,2115475.0,2165497.0,2227083.0,2283371.0,2299125.0,2352426.0
2,Baltimore,".Baltimore-Columbia-Towson, MD Metro Area",2715738.0,2733785.0,2754637.0,2768233.0,2780055.0,2790053.0,2794111.0,2798707.0,2800743.0,2800053.0,2844510.0,2841691.0,2838327.0
3,Boston,".Boston-Cambridge-Newton, MA-NH Metro Area",4566348.0,4609790.0,4656593.0,4702877.0,4746931.0,4778340.0,4809061.0,4841772.0,4859536.0,4873019.0,4941632.0,4936511.0,4899932.0
4,Buffalo,".Buffalo-Cheektowaga, NY Metro Area",1135627.0,1135562.0,1134619.0,1134974.0,1135060.0,1133002.0,1130232.0,1129882.0,1129777.0,1127983.0,1166902.0,1165506.0,1162336.0

In [17]:
# rename columns
usa_census_df=usa_census_df.rename(columns = {
    '2016':'2016 Population',
    '2021':'2021 Population',
})
usa_census_df

,City,Geographic Area,2010,2011,2012,2013,2014,2015,2016 Population,2017,2018,2019,April 2020,2020,2021 Population
0,Atlanta,".Atlanta-Sandy Springs-Alpharetta, GA Metro Area",5302598.0,5366462.0,5444473.0,5510530.0,5593204.0,5686048.0,5787965.0,5872432.0,5945303.0,6020364.0,6089815.0,6101146.0,6144050.0
1,Austin,".Austin-Round Rock-Georgetown, TX Metro Area",1727502.0,1780535.0,1834586.0,1883315.0,1942467.0,2002134.0,2062016.0,2115475.0,2165497.0,2227083.0,2283371.0,2299125.0,2352426.0
2,Baltimore,".Baltimore-Columbia-Towson, MD Metro Area",2715738.0,2733785.0,2754637.0,2768233.0,2780055.0,2790053.0,2794111.0,2798707.0,2800743.0,2800053.0,2844510.0,2841691.0,2838327.0
3,Boston,".Boston-Cambridge-Newton, MA-NH Metro Area",4566348.0,4609790.0,4656593.0,4702877.0,4746931.0,4778340.0,4809061.0,4841772.0,4859536.0,4873019.0,4941632.0,4936511.0,4899932.0
4,Buffalo,".Buffalo-Cheektowaga, NY Metro Area",1135627.0,1135562.0,1134619.0,1134974.0,1135060.0,1133002.0,1130232.0,1129882.0,1129777.0,1127983.0,1166902.0,1165506.0,1162336.0
5,Charlotte,".Charlotte-Concord-Gastonia, NC-SC Metro Area",2250121.0,2281230.0,2318671.0,2358660.0,2400483.0,2447898.0,2499697.0,2550373.0,2592950.0,2636883.0,2660329.0,2669665.0,2701046.0
6,Chicago,".Chicago-Naperville-Elgin, IL-IN-WI Metro Area",9470634.0,9500870.0,9528090.0,9550194.0,9560430.0,9552554.0,9533662.0,9514113.0,9484158.0,9458539.0,9618502.0,9601605.0,9509934.0
7,Cincinnati,".Cincinnati, OH-KY-IN Metro Area",2140715.0,2146208.0,2152554.0,2162060.0,2172190.0,2181427.0,2191572.0,2202558.0,2211936.0,2221208.0,2256884.0,2257667.0,2259935.0
8,Cleveland,".Cleveland-Elyria, OH Metro Area",2075478.0,2068989.0,2064776.0,2067100.0,2067356.0,2064012.0,2060997.0,2057238.0,2053795.0,2048449.0,2088251.0,2085357.0,2075662.0
9,Columbus,".Columbus, OH Metro Area",1906366.0,1926338.0,1947208.0,1974061.0,2001635.0,2027568.0,2052192.0,2082581.0,2104194.0,2122271.0,2138926.0,2141042.0,2151017.0
10,Dallas,".Dallas-Fort Worth-Arlington, TX Metro Area",6392065.0,6510544.0,6644559.0,6753889.0,6889769.0,7042566.0,7194758.0,7337097.0,7455756.0,7573136.0,7637387.0,7662325.0,7759615.0
11,Denver,".Denver-Aurora-Lakewood, CO Metro Area",2554523.0,2602918.0,2650274.0,2700529.0,2753973.0,2812896.0,2856755.0,2891776.0,2931665.0,2967239.0,2963821.0,2969289.0,2972566.0
12,Detroit,".Detroit-Warren-Dearborn, MI Metro Area",4291508.0,4291696.0,4300864.0,4305587.0,4311194.0,4309673.0,4316260.0,4321593.0,4322084.0,4319629.0,4392041.0,4385748.0,4365205.0
13,Green Bay,".Green Bay, WI Metro Area",306754.0,308613.0,310605.0,311947.0,314003.0,315652.0,317369.0,319694.0,321384.0,322906.0,328268.0,328323.0,329490.0
14,Houston,".Houston-The Woodlands-Sugar Land, TX Metro Area",5947236.0,6056193.0,6183531.0,6328208.0,6500199.0,6671808.0,6806503.0,6900090.0,6976147.0,7066141.0,7122240.0,7137747.0,7206841.0
15,Indianapolis,".Indianapolis-Carmel-Anderson, IN Metro Area",1892640.0,1910719.0,1929678.0,1953600.0,1971006.0,1986119.0,2006760.0,2027584.0,2052368.0,2074537.0,2111040.0,2113700.0,2126804.0
16,Jacksonville,".Jacksonville, FL Metro Area",1348907.0,1361972.0,1377607.0,1393432.0,1416446.0,1444638.0,1476023.0,1505033.0,1532663.0,1559514.0,1605848.0,1611388.0,1637666.0
17,Kansas City,".Kansas City, MO-KS Metro Area",2013361.0,2025490.0,2038586.0,2053850.0,2069182.0,2085913.0,2107066.0,2127203.0,2144427.0,2157990.0,2192035.0,2193578.0,2199490.0
18,Las Vegas,".Las Vegas-Henderson-Paradise, NV Metro Area",1952587.0,1961925.0,1989224.0,2017193.0,2053134.0,2096717.0,2138836.0,2181635.0,2226115.0,2266715.0,2265461.0,2273386.0,2292476.0
19,Los Angeles,".Los Angeles-Long Beach-Anaheim, CA Metro Area",12838417.0,12925753.0,13013443.0,13097434.0,13166609.0,13234696.0,13270694.0,13278000.0,13249879.0,13214799.0,13200998.0,13173266.0,12997353.0
20,Memphis,".Memphis, TN-MS-AR Metro Area",1317489.0,1323741.0,1331396.0,1332114.0,1333432.0,1334790.0,1336204.0,1338582.0,1342497.0,1346045.0,1337779.0,1337311.0,1336103.0
21,Miami,".Miami-Fort Lauderdale-Pompano Beach, FL Metro...",5583394.0,5668271.0,5745743.0,5822754.0,5893858.0,5969135.0,6055686.0,6118155.0,6143837.0,6166488.0,6138333.0,6126441.0,6091747.0
22,Minneapolis,".Minneapolis-St. Paul-Bloomington, MN-WI Metro...",3340007.0,3373392.0,3405952.0,3440782.0,3476192.0,3503728.0,3538527.0,3575699.0,3610061.0,3640043.0,3690261.0,3692421.0,3690512.0
23,Milwaukee,".Milwaukee-Waukesha, WI Metro Area",1556678.0,1561296.0,1567248.0,1571732.0,1575002.0,1576496.0,1576004.0,1574444.0,1573995.0,1575179.0,1574731.0,1573598.0,1566487.0
24,Nashville,".Nashville-Davidson--Murfreesboro--Franklin, T...",1650831.0,1674534.0,1703609.0,1735012.0,1768350.0,1804671.0,1841294.0,1874515.0,1904726.0,1934317.0,1989519.0,1995343.0,2012476.0
25,New Orleans,".New Orleans-Metairie, LA Metro Area",1195324.0,1214008.0,1226887.0,1239584.0,1248905.0,1260281.0,1267613.0,1270326.0,1270133.0,1270530.0,1271845.0,1270366.0,1261726.0
26,New York,".New York-Newark-Jersey City, NY-NJ-PA Metro Area",18923407.0,19052774.0,19149689.0,19226449.0,19280929.0,19320968.0,19334778.0,19322607.0,19276644.0,19216182.0,20140470.0,20096413.0,19768458.0
27,Oakland,".San Francisco-Oakland-Berkeley, CA Metro Area",4343634.0,4395725.0,4455473.0,4519636.0,4584981.0,4647924.0,4688198.0,4712421.0,4726314.0,4731803.0,4749008.0,4739649.0,4623264.0
28,Oklahoma City,".Oklahoma City, OK Metro Area",1257793.0,1277045.0,1297857.0,1320148.0,1336256.0,1357178.0,1372985.0,1381492.0,1393605.0,1408950.0,1425695.0,1428709.0,1441647.0
29,Orlando,".Orlando-Kissimmee-Sanford, FL Metro Area",2139161.0,2176054.0,2225636.0,2270149.0,2324391.0,2388509.0,2455583.0,2517777.0,2574838.0,2608147.0,2673376.0,2677687.0,2691925.0
30,Philadelphia,".Philadelphia-Camden-Wilmington, PA-NJ-DE-MD M...",5970899.0,5996232.0,6016616.0,6030134.0,6046382.0,6056816.0,6066661.0,6078522.0,6091208.0,6102434.0,6245051.0,6241983.0,6228601.0
31,Phoenix,".Phoenix-Mesa-Chandler, AZ Metro Area",4204204.0,4253037.0,4329756.0,4403121.0,4488970.0,4578519.0,4673336.0,4758748.0,4849209.0,4948203.0,4845832.0,4867925.0,4946145.0
32,Pittsburgh,".Pittsburgh, PA Metro Area",2357090.0,2360417.0,2360443.0,2359803.0,2356189.0,2347757.0,2340222.0,2329004.0,2322653.0,2317600.0,2370930.0,2367293.0,2353538.0
33,Portland,".Portland-Vancouver-Hillsboro, OR-WA Metro Area",2232181.0,2262834.0,2288465.0,2311015.0,2343994.0,2381660.0,2426575.0,2454815.0,2473350.0,2492412.0,2512859.0,2516230.0,2511612.0
34,Raleigh,".Raleigh-Cary, NC Metro Area",1137383.0,1162179.0,1187848.0,1213499.0,1241189.0,1271091.0,1303854.0,1334235.0,1361590.0,1390785.0,1413982.0,1420225.0,1448411.0
35,Sacramento,".Sacramento-Roseville-Folsom, CA Metro Area",2153613.0,2172948.0,2190266.0,2210512.0,2235640.0,2263121.0,2291533.0,2319572.0,2341940.0,2363730.0,2397382.0,2399351.0,2411428.0
36,Salt Lake,".Salt Lake City, UT Metro Area",1091478.0,1106800.0,1123748.0,1140025.0,1151447.0,1164912.0,1184721.0,1204205.0,1218681.0,1232696.0,1257936.0,1259517.0,1263061.0
37,San Antonio,".San Antonio-New Braunfels, TX Metro Area",2153009.0,2193923.0,2236981.0,2280002.0,2328894.0,2379232.0,2426276.0,2472121.0,2512379.0,2550960.0,2558143.0,2566683.0,2601788.0
38,San Diego,".San Diego-Chula Vista-Carlsbad, CA Metro Area",3103212.0,3137156.0,3174335.0,3209768.0,3248877.0,3280850.0,3306089.0,3321237.0,3333861.0,3338330.0,3298634.0,3297252.0,3286069.0
39,San Francisco,".San Francisco-Oakland-Berkeley, CA Metro Area",4343634.0,4395725.0,4455473.0,4519636.0,4584981.0,4647924.0,4688198.0,4712421.0,4726314.0,4731803.0,4749008.0,4739649.0,4623264.0
40,San Jose,".San Jose-Sunnyvale-Santa Clara, CA Metro Area",1841556.0,1868031.0,1894452.0,1923664.0,1949578.0,1974501.0,1987593.0,1992674.0,1993804.0,1990660.0,2000468.0,1995105.0,1952185.0
41,St. Louis,".St. Louis, MO-IL Metro Area",2789989.0,2795155.0,2796682.0,2799472.0,2803430.0,2807503.0,2805502.0,2805758.0,2803958.0,2803228.0,2820253.0,2818267.0,2809299.0
42,Seattle,".Seattle-Tacoma-Bellevue, WA Metro Area",3449241.0,3503891.0,3558829.0,3612347.0,3675160.0,3739654.0,3816355.0,3885579.0,3935179.0,3979845.0,4018762.0,4024730.0,4011553.0
43,Tampa,".Tampa-St. Petersburg-Clearwater, FL Metro Area",2788366.0,2813269.0,2843636.0,2880536.0,2927395.0,2983928.0,3048963.0,3106922.0,3154649.0,3194831.0,3175275.0,3183385.0,3219514.0
44,Washington,".Washington-Arlington-Alexandria, DC-VA-MD-WV ...",5678491.0,5782319.0,5878942.0,5963312.0,6031945.0,6093950.0,6149301.0,6211341.0,6247841.0,6280487.0,6385162.0,6385714.0,6356434.0

In [18]:
clean_usa=usa_census_df[['City','2016 Population', '2021 Population']]
clean_usa['Country Code']='USA'
clean_usa.head()

/var/folders/nk/670c2l4j02j1x3bk4kcm7qh80000gn/T/ipykernel_62394/2534612293.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_usa['Country Code']='USA'

        City  2016 Population  2021 Population Country Code
0    Atlanta        5787965.0        6144050.0          USA
1     Austin        2062016.0        2352426.0          USA
2  Baltimore        2794111.0        2838327.0          USA
3     Boston        4809061.0        4899932.0          USA
4    Buffalo        1130232.0        1162336.0          USA

In [19]:
final_merge_df=pd.concat([clean_usa, clean_canada])
final_merge_df.head()

        City  2016 Population  2021 Population Country Code
0    Atlanta        5787965.0        6144050.0          USA
1     Austin        2062016.0        2352426.0          USA
2  Baltimore        2794111.0        2838327.0          USA
3     Boston        4809061.0        4899932.0          USA
4    Buffalo        1130232.0        1162336.0          USA

In [20]:
final_merge_df = final_merge_df.astype({
    '2016 Population':int,
    '2021 Population':int
})
final_merge_df.head()

        City  2016 Population  2021 Population Country Code
0    Atlanta          5787965          6144050          USA
1     Austin          2062016          2352426          USA
2  Baltimore          2794111          2838327          USA
3     Boston          4809061          4899932          USA
4    Buffalo          1130232          1162336          USA

In [22]:
final_merge_df.to_csv('../Resources/final_country_census.csv', index=False)